<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.product._id}}.jpg" alt="" style="width: 70px;height: 70px;"></td>
                    <td>{{this.product.Name}}</td>
                    <td>{{this.product.Price}}</td>
                    <td>
                        <button class="cart-item-cout mr-3" onclick="changequantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-cout ml-3" onclick="changequantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger" onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>
</section>


<script>
    function changequantity(cartId,productId,count){
        let quantity=parseInt(document.getElementById(productId).innerHTML)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart: cartId,
                product: productId,
                count: count,
                quantity:quantity
            },
            
            method: 'post',
            success:(response)=>{
                console.log("a")
                console.log(response)
                if(response.removeProduct){
                    alert("Product Removed from cart")
                    location.reload()
                }else{
                    document.getElementById(productId).innerHTML = quantity+count
                }
            }
        })
    }

    function removeCartProduct(cartId,productId){
        $ajax({
            url:"/remove-cart-product",
             method: 'POST',
            data: {
                cart: cartId,
                product: prodId
            },
            success: () => {
                alert("Product removed from Cart:")
                location.reload()
            }
        })

    }
</script>