<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.product._id}}.jpg" alt="" style="width: 70px;height: 70px;"></td>
                    <td>{{this.product.Name}}</td>
                    <td>
                        {{#if this.quantity > 1}}
                        <button class="cart-item-cout mr-3" onclick="changequantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        {{/if}}
                        {{this.quantity}}
                        <button class="cart-item-cout ml-3" onclick="changequantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>
</section>


<script>
    function changequantity(cartId,productId,count){
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart: cartId,
                product: productId,
                count: count
            },
            method: 'post',
            success:(response)=>{
                alert()
            }
        })
    }
</script>